<h1 mat-dialog-title>Create {{ data.name }}</h1>
<div mat-dialog-content>
  <p>What's the password purpose?</p>
  <mat-form-field appearance="fill">
    <mat-label>Password Purpose</mat-label>
    <input matInput [(ngModel)]="data.name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="data.password" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>
