<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          type="text"
          matInput
          [formControl]="usernameFormControl"
          placeholder="Ex. John"
        />
        <mat-error *ngIf="!usernameFormControl.hasError('required')">
          Please enter a valid username address
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="passwordFormControl"
          placeholder="Ex. 12345678"
        />
        <mat-error *ngIf="!passwordFormControl.hasError('required')">
          Please enter a valid password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </form></mat-card-content
  >
</mat-card>
